
.w-100 {
	width: 100%;
}
.d-none {
	display: none;
}
.d-flex {
	display: flex;
}
.d-inline-block {
	display: inline-block;
}
.w-auto {
	width: auto;
}
.my-auto {
	margin-top: auto!important;
	margin-bottom: auto!important;
}
.ml-auto {
	margin: auto!important;
	margin-right: 0!important;
}
.m-0 {
	margin: 0;
}
.top-0 {
	top: 0!important;
}



.row {
	display: flex;
	flex-align: row;
}
.col-70 {
	width: 65%;
	margin-right: 5%;
}
.col-30 {
	width: 30%;
}
.text-center {
	text-align: center;
}
.login-content {
	margin: 48px auto;
	max-width: 520px;
}
.card {
	padding: 1em 2em 1em;
	margin: 32px auto;
}
.card form {
	border:  none;
}
.login-title {
	line-height: 1em;
}
.login-title small {
	font-size: .7em;
}
form {
	/*border: 3px solid #f1f1f1;*/
}

/* Full-width inputs */
.login-content input[type=text], .login-content input[type=password] {
	width: 100%;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.login-content input {
	padding: 8px 12px;
}

/* Set a style for all buttons */
button.primary-button {
	background-color: #2271b1;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	/* width: 100%; */
}
button.primary-button:disabled {
  background: #666!important;
  cursor: wait;
}
/* Add a hover effect for buttons */
button.primary-button:hover {
	opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
	width: 40%;
	border-radius: 50%;
}

/* Add padding to containers */
.container {
	padding: 16px;
}

/* The "Forgot password" text */
span.psw {
	float: right;
	padding-top: 16px;
}

.stepper {
	/*margin-right: 21px;*/
}
.stepbar {
  margin-bottom: 35px;
  top: 5px;
  display: flex;
}
.stepbar .step .step-position {
	display: inline-block;
	padding: 8px;
	margin: 4px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #666;
	color: #fff;
	opacity: .5;
}
.stepbar .step {
	text-align: center;
	display: inline-block;
	color: #999;
  flex: 1;
  border: 1px solid #999;
  /* border-radius: 24px; 
	margin: 12px 20px 20px 0;
  padding-right: 12px;*/
  background: white;
  background: #ebebeb;
  color: #ddd;
}
.stepbar .step.active {
	opacity: 1;
  background: #fff;
  color: #333;
  border: 1px solid #00bf3b;
  height: 42px;
}
.stepbar .step.active .step-position {
	opacity: 1;
  background: #00bf3b;
}
.stepbar .step.processing {
	opacity: 1;
  background: #fff;
  color: #333;
  border: 1px solid #bf9400;
}
.stepbar .step.processing .step-position {
	opacity: 1;
  background: #bf9400;
}
.choose-content {
	margin-top: 24px;
}

.document-type-choose {
	max-width: 620px;
	display: flex;
	gap: 8px;
	margin-bottom: 12px;
}

.document-type-choose .document-type-choose-item {
  align-items: center;
	display: flex;
  flex-grow: 1;
  border: 1px solid #999;
  flex-direction: column;
}
.document-type-choose .document-type-choose-item p {
	margin: 20px 0 20px 40px!important;
	display: block;
	width: 100%;
}
.document-type-choose .document-type-choose-item h3 {
    width: 100%;
}


.document-type-choose .document-type-choose-item label {
	padding: 20px;
}

.green-synced {
	display: inline-block;
	background: green;
	color: white;
	padding: 5px;
	border-radius: 3px;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}